<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" type="text/css" rel="stylesheet"/>
    <link href="/styles/site.css" type="text/css" rel="stylesheet"/>
    <link href="/styles/shCore.css" type="text/css" rel="stylesheet"/>
    <link href="/styles/shThemeDefault.css" type="text/css" rel="stylesheet"/>
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/aboutcode" title="AboutCode.net Blog Posts">
  </head>
  <body>
    <div id="header">
      <div class="title"><a href="/">aboutcode.net</a></div>
      <div class="subtitle">a blog by Andrew Davey</div>
      <div class="contact">
        <p>
        Follow <a href="http://twitter.com/andrewdavey">@andrewdavey</a> on twitter for daily insights.
        </p>
        <p>
        Email <a href="mailto:andrew@equin.co.uk">andrew@equin.co.uk</a> for anything over 140 characters.
        </p>
        <p>
	      Subscribe to the <a href="http://aboutcode.net/feed.atom">feed</a> and get the goodness in atom format.
        </p>
      </div>
    </div>
    <div id="content" class="post">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <a href="http://aboutcode.net{{ page.url }}#disqus_thread">Comments</a>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'aboutcode';
        (function () {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://aboutcode.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=aboutcode">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <script type="text/javascript">
      var disqus_shortname = 'aboutcode';
      (function () {
        var s = document.createElement('script'); s.async = true;
          s.src = 'http://disqus.com/forums/aboutcode/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
  <script src="/scripts/shCore.js" type="text/javascript"></script>
  <script src="/scripts/shBrushCSharp.js" type="text/javascript"></script>
  <script src="/scripts/shBrushXml.js" type="text/javascript"></script>
  <script src="/scripts/shBrushJScript.js" type="text/javascript"></script>
  <script src="/scripts/shBrushPlain.js" type="text/javascript"></script>
  <script type="text/javascript">
  SyntaxHighlighter.all();
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19461164-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript'; 
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</html>
